<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Community.CsharpSqlite.SQLiteClient" version="3.7.7.3" targetFramework="Native" />
  <package id="dotConnect.Express.for.SQLite" version="5.2.264" targetFramework="Native" />
  <package id="MySql.Data" version="6.9.3" targetFramework="Native" />
  <package id="sqlite" version="3.8.4.2" targetFramework="Native" />
  <package id="sqlite.redist" version="3.8.4.2" targetFramework="Native" />
  <package id="sqlite-net" version="1.0.8" targetFramework="Native" />
  <package id="System.Data.SQLite" version="1.0.94.1" targetFramework="Native" />
</packages>